services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: flavor-speak
    # ports:
    #   - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network

  backend:
    build: ./FlavorSpeak-backend          # path to your Spring Boot Dockerfile
    container_name: flavorspeak-backend
    networks:
      app-network:
        ipv4_address: 172.20.0.10
    depends_on:
      - postgres
    # ports:
      # - "8080:8080"
    environment:
      - DB_URL=postgres
      - DB_PORT=5432
      - DB_USERNAME=root
      - DB_PASSWORD=root
      - DB_NAME=flavor-speak

  frontend:
    build: ./FlavorSpeak-frontend         # path to your React Dockerfile
    container_name: flavorspeak-frontend
    ports:
      - "3000:80"             # React served by nginx
    environment:
      - BACKEND_REST_URL=
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16

volumes:
  postgres-data:  # <-- this defines the named volume
