.left-bg{
    height: 100vh;
    background: url('../img/signup-restaturant-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.SignInLayout{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(rgb(32, 31, 31), rgb(177, 177, 110), rgb(32, 31, 31));
}

.SignFormBottomBar{
    display: flex;
    justify-content: space-between;
}